html {
    background-color: #000000;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-left: -58px;
    margin-top: -100px;
}


#home {
    z-index: 0;
    background-image: url("./mixed.jpg");
    height: 830px;
    position: relative;
}

#pixel {
    z-index: 5;
}

#mainhead {
    margin-top: 30px;
    margin-left: 11%;
    font-family: "Bungee Shade";
    font-size: 59px;
    color: white;
    text-shadow: 2px 1px black;
    position: absolute;
}

#subhead {
    font-family: "Bungee Shade";
    font-size: 20px;
    color: #6441A4;
    position: absolute;
    margin-top: 100px;
    margin-left: 162px;
}

#wrapper {
    border: linear-gradient(to right, rgba(255, 0, 0, 0), #004059(0, 255, 255));
    float: left;
    height: 265px;
    width: 980px;
    margin-top: 200px;
    margin-left: 200px;
    box-shadow: 5px 5px 5px 5px black;
    background: linear-gradient(to right, #004059, #6441A4);
    z-index: 1;
}

#mainbox {
    border: 3px inset black;
    width: 90%;
}

#mario {
    margin-left: -26px;
}

#games {
    z-index: 1;
    margin-left: -7px;
}

#inputbox {
    position: absolute;
    margin-top: -91px;
    margin-left: 10px;
    z-index: 0;
}

#searchtext {
    color: #6441A4;
    margin-top: 20px;
    font-family: "Bungee Shade";
}

#buttonsdiv {
    position: relative;
    right: -470px;
    top: -245px;
}

#bethe {
    font-family: "Press Start 2P";
    text-shadow: 1px 1px 1px #D20014;
    color: black;
    position: absolute;
    margin-top: 80px;
    margin-left: 192px;
    font-size: 38px;
}

#betheteacher {
    font-family: "Press Start 2P";
    text-shadow: 1px 1px 1px #D20014;
    color: black;
    position: absolute;
    margin-left: 167px;
    margin-top: 128px;
    font-size: 38px;
    display: inline-block;
}

#betheg {
    font-family: "Press Start 2P";
    font-size: 37px;
    text-shadow: 1px 1px 0 #FCDBC4;
    color: black;
    margin-top: 83px;
    margin-left: 20px;
    position: absolute;
}

#bethegamer {
    font-family: "Press Start 2P";
    text-shadow: 1px 1px 0 #FCDBC4;
    color: black;
    position: absolute;
    margin-top: 129px;
    margin-left: 28px;
}


#teachertext {
    font-family: "Bungee Shade";
    font-size: 17px;
}

#gamertext {
    font-family: "Bungee Shade";
    font-size: 17px;
}

#container {
    background-color: #004059;
}


#search {
    margin-top: -50px;
}


#twitchbadge {
    position: absolute;
    margin-top: 28px;
    margin-left: 27px;
}

#thecontroller {
    position: absolute;
    margin-left: 479px;
    margin-top: 350px;
}