#UserInfo {
  background-color: rgba(0,0,0, .7);
  border-radius: 15px;
  border: 3px solid #5dc21e;
}

#user-pic {
  width: 150px;
  height:150px;
}

#picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
}

#user-pic {
  margin: 5px 5px 5px 25px;
  padding: 5px;
}

.gt-pic {
  height: 35px;
  width: 35px;
}

#ps {
  width: 85px;
  height: 55px;
  margin-left: -25px;
}

#gamertags {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  margin: 30px 10px;
}

.gt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #5dc21e;
  font-family: "Press Start 2P";
  font-size: 10px;
}

#rate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #d20014;
  margin-top: 70px;
  margin-bottom: 10px;
  font-family: 'Press Start 2P';
}

#dollars {
  font-size: 50px;
  align-items: center;
}

#per {
  font-size:15px;
  font-family: "Press Start 2P"
}

.calendar {
  height: 120px;
  width: 120px;
  margin: 50px;
}

#stripe-div {
  position: absolute;
  top: 42%;
  right:15%;
}