@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 100%;
    position: relative
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.material-icons {
    margin-left: -20px;
}

.searchButton {
    position: absolute;
    right: -50px;
    width: 20px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}

#playbtn {
    box-shadow: 1px 1px 1px 1px black;
    position: absolute;
    font-size: 15px;
    width: 80px;
    height: 60px;
    margin-left: -320px;
    margin-top: 205px;
}

#gamepagesearch .input-field.col.s6 {
    position: relative;
    margin-left: 300px;
}

#inputbox .input-field.col.s6 {
    position: relative;
    margin-top: 130px;
    margin-left: 50px;
}

#autocomplete-input {
    width: 340px;
    height: 100px;
    padding-top: -100px;
    position: absolute;
    margin-top: 190px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px 2px black;
    z-index: 0;
}

/*Resize the wrap to see the search bar change!*/

.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#streampagesearchfont {
    position: absolute;
    font-family: "Bungee Shade";
    font-size: 18px;
    color: #6441A4;
    margin-left: 893px;
    margin-top: 380px;
}

input[type=text] {
    font-size: 50px;
    color: #ccc;
}