#pagewrapper{
    background: url("./purplebackground.jpg");
    height: 1600px;
    
}

#thetwitchbox{
    height: 490px;
    width: 950px;
    margin-top: -480px;
    margin-left: 250px;
    margin-bottom: 20px;
}
